html, body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(151deg, oklch(70% .5 340), oklch(90% .3 200)),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  padding-top: 100px;
}

.calculator {
  padding: 4rem 2rem;
  border-radius: 24px;
  background-color: var(--gray-1);
  box-shadow: var(--shadow-elevation-high);
}
.display {
  font-size: 2rem;
  text-align: end;
  padding: 1rem;
  background-color: white;
  margin-bottom: 4rem;
  box-shadow: var(--shadow-elevation-low);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 50vw;
  height: 50vw;
  font-size: 1.4rem;
}

#button {
  background-color: var(--gray-8);
  color: var(--gray-2);
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
}

#button:hover {
  box-shadow: none;
  cursor: pointer;
}

#button:nth-of-type(17) {
  /* grid-column: span 1 / 3; */
}